@font-face {
  font-family: "tjr_thin";
  src: url("fonts/The_Jamsil_Thin.woff") format("woff");
}
@font-face {
  font-family: "tjr_light";
  src: url("fonts/The_Jamsil_Light.woff") format("woff");
}
@font-face {
  font-family: "tjr_regular";
  src: url("fonts/The_Jamsil_Regular.woff") format("woff");
}
@font-face {
  font-family: "tjr_medium";
  src: url("fonts/The_Jamsil_Medium.woff") format("woff");
}
@font-face {
  font-family: "tjr_bold";
  src: url("fonts/The_Jamsil_Bold.woff") format("woff");
}
@font-face {
  font-family: "tjr_exbold";
  src: url("fonts/The_Jamsil_ExtraBold.woff") format("woff");
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "tjr_medium";
  font-size: 450%;
  color: #000000;
  margin-bottom: 1%;
}

.summary {
  font-family: "tjr_regular";
  font-size: 300%;
  line-height: 130%;
  color: #000000;
  margin-bottom: 5%;
}

.howtouse {
  font-family: "tjr_medium";
  font-size: 350%;
  line-height: 1px;
  color: #000000;
}

.howtouse_s {
  font-family: "tjr_regular";
  font-size: 300%;
  color: #5b73a7;
  margin-bottom: 5%;
}

.updatelog {
  font-family: "tjr_regular";
  font-size: 350%;
  color: #000000;
}
.updatever {
  font-family: "tjr_bold";
  font-size: 180%;
}
.updatelog_s {
  font-family: "tjr_regular";
  font-size: 220%;
  color: #000000;
}

.under_desc {
  margin-top: 3%;
  position: absolute;
  left: 50%; /* 왼쪽 위치를 페이지의 중앙에 위치하도록 설정 */
  transform: translateX(-50%); /* 중앙 정렬 */
  font-family: "tjr";
  font-size: 19px;
  line-height: 44px;
  display: flex;
  justify-content: center; /* 가로 방향 가운데 정렬 */
  width: 100%; /* 부모 요소에 꽉 차도록 너비를 100%로 설정 */
  text-align: center; /* 가운데 정렬 */
  color: rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttonright {
  height: 80px;
  font-family: "tjr_bold";
  font-size: 40px;
  background: #f0f5f9;
  box-shadow: -2px -2px 3px #ffffff, 2px 2px 3px;
  border-radius: 30px;
  border-color: #f0f5f9;
  outline-color: #f0f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #5b73a7;
}

.hide-button {
  background: #011e35;
  color: #ffffff;
  font-family: "tjr_bold";
  font-size: 60%;
  outline: none;
  border: none;
  box-shadow: none;
}

.menu-bar {
  font-family: "tjr_bold";
  font-size: 260%;
  position: fixed;
  top: 0;
  right: -250px;
  width: 230px;
  height: 100%;
  background: #011e35;
  transition: right 0.7s ease;
  border: 1px solid #ccc; /* 테두리 스타일 지정 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 지정 */
}

.menu-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-bar li {
  margin: 0;
  padding: 0;
}

.menu-bar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

.menu-bar a:hover {
  background-color: #ffffff;
  color: #000000;
}

.show-menu {
  right: 0;
}

.blur {
  /* 블러 처리 스타일 */
  filter: blur(5px);
}

/*모바일인경우*/
@media screen and (max-width: 767px) {
  .title {
    font-size: 180%;
    color: #000000;
    margin-bottom: 1%;
  }

  .summary {
    font-size: 100%;
  }

  .howtouse {
    font-size: 180%;
  }
  .howtouse_s {
    font-size: 120%;
  }

  .updatelog {
    font-size: 180%;
    color: #000000;
  }
  .updatever {
    font-family: "tjr_bold";
    font-size: 100%;
  }
  .updatelog_s {
    font-family: "tjr_regular";
    font-size: 120%;
  }

  .under_desc {
    margin-top: 3%;
    top: 90%;
    left: 50%; /* 왼쪽 위치를 페이지의 중앙에 위치하도록 설정 */
    transform: translateX(-50%); /* 중앙 정렬 */
    font-family: "tjr_light";
    font-size: 6px;
    line-height: 120%;
    display: flex;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    text-align: center; /* 가운데 정렬 */
    color: rgba(0, 0, 0, 0.5);
  }

  .buttons {
    display: flex;
    gap: 10px;
  }

  .buttonright {
    margin-top: 5%;
    height: 40px;
    font-size: 15px;
  }

  .hide-button {
    font-size: 80%;
  }

  .menu-bar {
    font-size: 100%;
    right: -50%;
    width: 30%;
    height: 100%;
  }

  .menu-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu-bar li {
    margin: 0;
    padding: 0;
  }

  .menu-bar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
  }

  .menu-bar a:hover {
    background-color: #ffffff;
    color: #000000;
  }

  .show-menu {
    right: 0;
  }
}
